@()

@main("Check some Stocks!") {
  <h1>Check some stock prices!</h1>
  <h3>Add a stock to watch:</h3>
  <input type="text" id="addStock">
  <button id="addStockButton" onclick="addStock()">Add Stock to watchlist</button>
  <p id="watchListMessage"></p>
  <h3>Watched Stocks:</h3>
  <ul id="watchedStocksList">

  </ul>
  <button onclick="loadStocks()">Reload Stocks</button>


  <script type="text/javascript">
    var watchedStocks;

    function addStock(){
      let code = $("#addStock").val();
      let request = $.ajax({
        method: "PUT",
        url: "/api/watchList",
        processData: false,
        contentType: 'application/json',
        data: JSON.stringify({ code : code })
      });
      request.done(function(msg) {
        $("#watchListMessage").html(msg);
        loadStocks();
      })
      request.fail(function(jqXHR, msg){
        $("#watchListMessage").html(jqXHR.responseText);
      })
    }

    function loadStocks(){
      let stocks = [];
      $.getJSON("api/watchList", function(data){
        watchedStocks = data;
        console.log(JSON.stringify(data))
        $("#watchedStocksList").html("");
        $.each(data, function(index, val){
          $("#watchedStocksList").append(createStockTemplate(val));
        });
      }).always(function(){
        updateStockValues();
      });
    }
    function createStockTemplate(code){
      let stockTemplate = `<li>
            <h4>${code}</h4>
            <h4 id="price_${code}"></h4>
            <p id="msg_${code}"></p>
        </li>`;
      return $(stockTemplate);
    }

    function updateStockValues(){
      $.each(watchedStocks, function(index, val){
        let reqJson = {code: val};
        $.getJSON("api/stockInfo", reqJson, function(data){
          $(`#price_${val}`).html(`Current Price: ${data.currentPrice}`);
        }).fail(function(msg){
          $(`#msg_${val}`).html(msg.responseText);
        });
      });
    }

    $.ready(loadStocks);
    $.ready(setInterval(updateStockValues(), 30000));
  </script>
}
